/* You can implement your own css code*/

body {
    background-color: #ff9900;
}

h1 {
   color: #6600FF;
   font-family: "Arial Black", Gadget, sans-serif;
}

#passwd_result{
	background:#FF9900;
	color:#FFFFFF;
	font-weight:bold;
	margin-right:60%;
}

#upload_result{
	background:#CC3300;
	color:#FFFFFF;
	font-weight:bold;
	margin-right:60%;
}
